<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mygame.myfellowship"
    android:versionCode="1"
    android:versionName="3.0.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    
    
    <!-- 发送短信验证码需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    	<!-- gps定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".SelfDefineApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeStyle" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="258601FEHwbI1Y5X40EfWrfb" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".login.RegisterActivity" android:launchMode="singleTop"/>
        
        <activity android:name=".login.BasicInfoActivity" />
        <activity android:name=".MainActivity" android:launchMode="singleTop"/>
        <!-- 定位后台服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
                  <!-- 在本应用中导入需要使用的包，放在application里面activity外面 -->  
        <uses-library android:name="android.test.runner" />  
    </application>
 <!-- 记住这个一要放在application外面，不然会出现配置错误 信息 -->  
    <instrumentation android:name="android.test.InstrumentationTestRunner"  
        android:targetPackage="com.mygame.myfellowship" android:label="Tests for My App" /> 
</manifest>